<!DOCTYPE html>
<html>

<head>
    <title>Students - CampusVision AI</title>
</head>

<body>

<h1>Student List</h1>

<a href="{{ url_for('student.add_student') }}">
    Add Student
</a>

<hr>

<form method="GET" action="{{ url_for('student.students') }}">

    <input
        type="text"
        name="search"
        placeholder="Search by Student ID, Name or Department"
        value="{{ search }}"
    >

    <button type="submit">🔍 Search</button>

    <a href="{{ url_for('student.students') }}">
        Clear
    </a>

</form>

<br>

{% if students %}

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Student ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Year</th>
        <th>Action</th>
    </tr>

    {% for student in students %}

    <tr>
        <td>{{ student["id"] }}</td>
        <td>{{ student["student_id"] }}</td>
        <td>{{ student["name"] }}</td>
        <td>{{ student["email"] }}</td>
        <td>{{ student["department"] }}</td>
        <td>{{ student["year"] }}</td>

        <td>
            <a href="{{ url_for('student.edit_student', id=student['id']) }}">
            ✏️ Edit
            </a>

    |

            <a href="{{ url_for('student.delete_student', id=student['id']) }}"
             onclick="return confirm('Are you sure you want to delete this student?');">
           🗑️ Delete
    </a>
</td>
    </tr>

    {% endfor %}

</table>

{% else %}

<p>No students found.</p>

{% endif %}

</body>
</html>